{% extends 'user/base.html' %}

{% block head_title %}Debug{% endblock %}

{% block nav_debug %}active{% endblock %}

{% block title %}
    <h2>Debug</h2>
{% endblock %}

{% block css_imports %}
    {{ block.super }}
{% endblock %}

{% block js_imports %}
    {{ block.super }}
{% endblock %}

{% block head_extra %}
    <script type="text/javascript">
        var oauthASAddress = "{{ oauthASAddress }}";
    </script>
    {{ block.super }}
{% endblock %}

{% block content %}
    OAuth2 Access Token: {{ access_token }}
    <br/>
    Token info:
    <pre>{{ token_info }}</pre>
    <br/>
    Certificate:
    <pre>{{ cert }}</pre>
{% endblock %}
