{% extends 'federation/base.html' %}

{% load common ui %}

{% block head_title %}Authorization{% endblock %}

{% block nav_authorization %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_authorization_trust %}{% endblock %}"><a href="{% url federation_authorization_trust %}">Trust</a></li>
  <li class="{% block subnav_authorization_organizations %}{% endblock %}"><a href="{% url federation_authorization_organizations %}">Organizations</a></li>
  <li class="{% block subnav_authorization_organizations_create %}{% endblock %}"><a href="{% url federation_authorization_organizations_create %}">Create organization</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url federation_authorization_trust as url %}{% breadcrumb 'Authorization trust' url %}{{ block.super }}
{% endblock %}
