{% extends 'federation/authorization/organizations.html' %}

{% load common ui %}

{% block head_title %}Create client{% endblock %}

{% block subnav_authorization_organizations_clients_create %}active{% endblock %}

{% block breadcrumbs %}
{% url federation_authorization_organizations_clients_create as url %}{% breadcrumb 'Create client' url %}{{ block.super }}
{% endblock %}

{% block title %}
  <h2>Create client</h2>
{% endblock title %}

{% block content %}
  <form action="" method="post" class="form-horizontal">
    <fieldset>
      {% csrf_token %}
      
      {% form_errors form %}

      {% form_field form.client_id 'Client id' %}
      {% form_field form.name 'Name' %}
      {% form_field form.authorized_grant_types 'Authorized grant types' %}
      {% form_field form.callback_uri 'Callback uri' %}
      {% form_field form.client_secret 'Client secret' %}
      {% form_field form.countries 'Countries' %}

      <div class="form-actions">
        <button class="btn btn-primary" type="submit">Create client</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
