{% extends 'federation/base.html' %}

{% load common ui %}

{% block head_title %}Providers{% endblock %}

{% block nav_providers %}active{% endblock %}

{% block subnav %}
  <li class="{% block subnav_providers %}{% endblock %}"><a href="{% url federation_providers %}">Providers</a></li>
  <li class="{% block subnav_providers_create %}{% endblock %}"><a href="{% url federation_providers_create %}">Create Provider</a></li>
{% endblock %}

{% block breadcrumbs %}
{% url federation_providers as url %}{% breadcrumb 'Providers' url %}{{ block.super }}
{% endblock %}
